<?xml version="1.0"?>
<!--
* ==============================================================================
*
* eStorePro - AlternateLinks
* Version 1.0.0
*
* ==============================================================================
*
* The MIT License (MIT)
*
* Copyright (c) 2014 Ben Leah :: eStorePro
*
* Permission is hereby granted, free of charge, to any person obtaining a copy
* of this software and associated documentation files (the "Software"), to deal
* in the Software without restriction, including without limitation the rights
* to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
* copies of the Software, and to permit persons to whom the Software is
* furnished to do so, subject to the following conditions:
*
* The above copyright notice and this permission notice shall be included in
* all copies or substantial portions of the Software.
*
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
* IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
* FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
* AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
* LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
* OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
* THE SOFTWARE.
-->

<config>
    <modules>
        <Estorepro_AlternateLinks>
            <version>1.0.0</version>
        </Estorepro_AlternateLinks>
    </modules>
    <frontend>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <estorepro_alternatelinks>
                        <type>singleton</type>
                        <class>Estorepro_AlternateLinks_Model_Observer</class>
                        <method>alternateLinks</method>
                    </estorepro_alternatelinks>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
</config>