<?xml version="1.0"?>
<!--
* ==============================================================================
*
* eStorePro - AlternateLinks
* Version 1.0.0
*
* ==============================================================================
*
* The MIT License (MIT)
*
* Copyright (c) 2014 Ben Leah :: eStorePro
*
* Permission is hereby granted, free of charge, to any person obtaining a copy
* of this software and associated documentation files (the "Software"), to deal
* in the Software without restriction, including without limitation the rights
* to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
* copies of the Software, and to permit persons to whom the Software is
* furnished to do so, subject to the following conditions:
*
* The above copyright notice and this permission notice shall be included in
* all copies or substantial portions of the Software.
*
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
* IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
* FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
* AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
* LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
* OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
* THE SOFTWARE.
-->

<config>
    <sections>
        <web>
            <groups>
                <alternatelinks translate="label">
                    <label>Alternate Links</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_module translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>0</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_module>
                        <hreflang_value translate="label">
                            <label>Hreflang Format</label>
                            <comment>The value of the hreflang attribute can be language only (in ISO 639-1 format, e.g. 'en') or optionally include the region (in ISO 3166-1 Alpha 2 format, e.g. 'en-GB'). Takes locale value from GENERAL > LOCALE OPTIONS</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>estorepro_alternatelinks/system_config_source_dropdown_values</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </hreflang_value>
                    </fields>
                </alternatelinks>
            </groups>
        </web>
    </sections>
</config>